<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HLLNetworking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>846661BB1C7AE0A20010DF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846661D41C7AE0A30010DF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846661DF1C7AE0A30010DF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
